<!--model T2RMSWS.Data.Reservation-->
@model T2RMSWS.Models.SittingListTSDataModel

@{
    ViewData["Title"] = "Create";

}

@section Styles {
    <link href="~/css/sittings/sittings.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/sittings/bootstrap-switch-button.js"></script>
}

<h1>Staff Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <!--<div class="col-md-4">-->
    <div class="col-md-12">

        <form asp-action="StaffCreate">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Phone" class="control-label">Phone Number</label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.StartDateTime" class="control-label">Start Time</label>
                        <input class="form-control" readonly value="@Model.StartDateTime" />
                        <span asp-validation-for="@Model.StartDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EndDateTime" class="control-label">Duration</label>
                        <input class="form-control" readonly value="@Model.EndDateTime" />
                        <span asp-validation-for="@Model.EndDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Guests" class="control-label">Guests</label>
                        <input asp-for="Guests" class="form-control" readonly />
                        <span asp-validation-for="Guests" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Notes: </label>
                        <input asp-for="Notes_Requirements" class="form-control" />
                        <span asp-validation-for="Notes_Requirements" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Reservation Type: </label>

                        <select asp-for="@Model.ReservationTypePickedId" class="form-control">
                            @for (int i = 0; i < Model.ReservationTypeList.Count(); i++)
                            {
                                <option value="@Model.ReservationTypeList.ToArray().ElementAt(i).Id">@Model.ReservationTypeList.ToArray().ElementAt(i).Description</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">

                        <input type="hidden" class="form-control" value="@Model.AreaPicked" />

                    </div>
                    <div class="form-group">


                        @Html.HiddenFor(m => m.Date)
                        @Html.HiddenFor(m => m.Duration)
                        @Html.HiddenFor(m => m.AreaPicked)


                    </div>
                    <!--NEW TABLE ASSIGNMENT PLACED BELOW HERE-->
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </div>


                <div class="col-md-7">
                    @* Table Areas  *@
                    <div class="accordion" id="accordionExample">
                        @foreach (var a in Model.Areas)
                        {
                            int k = 0;
                            @Html.HiddenFor(m => m.Areas[k].Description);
                            @Html.HiddenFor(m => m.Areas[k].AreaId);
                            k++;

                            var areaNeeded = false;
                            for (int z = 0; z < Model.Tables.Count; z++)
                            {

                                if (Model.Tables.ElementAt(z).AreaId == a.AreaId)
                                {
                                    areaNeeded = true;
                                    z = Model.Tables.Count() + 1;
                                }
                            }

                            if (areaNeeded == true) {
                            <div class="card">
                                <div class="card-header" id="heading@(a.AreaId)" data-toggle="collapse" data-target="#collapse@(a.AreaId)" aria-expanded="false" aria-controls="collapse@(a.AreaId)">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            @a.Description
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse@(a.AreaId)" class="collapse show" aria-labelledby="headingOne" data-parent="">
                                    <div class="card-body row justify-content-around">

                                        @{int j = 0;}

                                        @foreach (var t in Model.Tables)
                                        {
                                            if (t.AreaId == a.AreaId)
                                            {
                                                <div class="seat mt-2">
                                                    @Html.HiddenFor(m => m.Tables[j].Description)
                                                    @Html.HiddenFor(m => m.Tables[j].TableNo)
                                                    @Html.HiddenFor(m => m.Tables[j].TableId)

                                                    @* Class property is created in order to use it within script below
                                                        (in order to choose all tables within area) *@

                                                    @Html.CheckBoxFor(m => m.Tables[j].Selected, new { @class = "Area" + a.Description })
                                                    <label for="Tables_@(j)__Selected">@t.TableNo <br /> Capacity: @t.Capacity</label>
                                                    
                                                </div>
                                            }
                                            j++;
                                        }
                                        <!--
                                        @* Check all tables in area *@
                                        <div class="form-group">
                                            Include This Area <input type="checkbox" name="checkAll_@(a.AreaId)" id="checkAll_@(a.AreaId)" class="btn btn-primary" checked />
                                        </div>
                                            -->
                                        @* Choose all tables within area *@
                                        <script>
                                            $('.DateTime').val(new Date().toISOString().slice(0, 10));

                                            document.getElementById('checkAll_@(a.AreaId)').switchButton();

                                            $('#checkAll_@(a.AreaId)').change(function () {
                                                $('input[class*=@(a.Description)][type=checkbox]').prop('unchecked', this.unchecked);
                                            });

                                            $("[class*=@(a.Description)]").change(function () {
                                                if ($('input[class*=@(a.Description)][type=checkbox]:checked').length == $('input[class*=@(a.Description)][type=checkbox]').length) {
                                                    @*$('#checkAll_@(a.AreaId)').prop('checked', true);*@
                                                    document.getElementById('checkAll_@(a.AreaId)').switchButton('on', true);
                                                } else {
                                                    @*$('#checkAll_@(a.AreaId)').prop('checked', false);*@
                                                    document.getElementById('checkAll_@(a.AreaId)').switchButton('off', true);
                                                }
                                            });

                                        </script>

                                    </div>
                                </div>
                            </div>
                            }
                         }
                    </div>
                </div>
                <!--
                <div class="form-group">
                    atHtml.HiddenFor(m => m.Tables);

                    <input type="hidden" asp-for="@Model.Areas" class="form-control" value="@Model.Areas" />
                    <span asp-validation-for="@Model.Areas" class="text-danger"></span>
                </div>
                -->
                <!--NEW TABLE ASSIGNMENT PLACED ABOVE HERE-->

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <script src="~/js/sittings/checkAll.js"></script>
    

}
